name: Release

on:
  workflow_run:
    workflows: 
      - Check
    types:
      - completed
    branches:
      - main

permissions:
  contents: 'read'
  packages: 'write'
  id-token: 'write'

env:
  PROJECT_ID: robs-lab
  PROJECT_NUMBER: 502765884137
  SERVICE_ACCOUNT: wordle-tracker-delpoyments@robs-lab.iam.gserviceaccount.com
  GCE_ZONE: us-east1-c
  GCE_INSTANCE_NAME: container-host-1
  REGISTRY: ghcr.io
  ENVIRONMENT: Production

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ env.ENVIRONMENT }}
      metaJson: ${{ steps.meta.outputs.json }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=sha,priority=1001
            
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    environment:
      name: ${{ needs.build.outputs.environment }}

    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/${{ env.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/ci-cd-2/providers/github-actions
          project_id: ${{ env.PROJECT_ID }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Update docker-compose manifest
        run: |
          version=${{ fromJson(needs.build.outputs.metaJson).labels['org.opencontainers.image.version'] }}
          environment=${{ needs.build.outputs.environment }}

          echo "VERSION=$version" > ./deploy/.env
          echo "ENVIRONMENT=$environment" >> ./deploy/.env
          echo "TOKEN=${{ secrets.DISCORD_TOKEN }}" >> ./deploy/.env

          gcloud compute ssh apps@${{ env.GCE_INSTANCE_NAME }} \
            --zone=${{ env.GCE_ZONE }} \
            --command="mkdir -p wordle-tracker"
            
          gcloud compute scp ./deploy/.env ./deploy/deploy.sh ./deploy/docker-compose.yml apps@${{ env.GCE_INSTANCE_NAME }}:./wordle-tracker/ \
            --zone=${{ env.GCE_ZONE }}

      - name: Restart docker-compose service
        run: |
          echo "Running deployment..."
          
          gcloud compute ssh apps@${{ env.GCE_INSTANCE_NAME }} \
            --zone=${{ env.GCE_ZONE }} \
            --command="bash ./wordle-tracker/deploy.sh"
